.gachaLinkContainer {
    display: inline-block;
    padding: 5px 10px;
}

.gachaLinkIcon {
    height: 100px;
    width: 100px;
}

.gachaLinkEditButton {
    position: absolute;
    height: 30px;
    width: 30px;
}

.gachaLinkName {
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    width: 100px;
    height: 67px;
}