.gachaLinkContainer {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
}

.gachaLinkIcon {
    height: 100px;
    width: 100px;
}

.gachaLinkEditButton {
    position: absolute;
    height: 30px;
    width: 30px;
}