.darkBackground {
    position: fixed;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0, 0.4);
    z-index: 2;
}

.charaProf {
    visibility: hidden;
}

.charaProfWindow {
    position: absolute;
    left: 50%;
    display: inline-block;
    opacity: 1;
    margin-top: 40px;
    margin-left: -350px;
    width: 700px;
    background-color: #E8EBF7;
    border-color: #F1939B;
    border-width: 4px;
    z-index: 3;
}

.iconBar {
    height: 30px;
}

.charaProfExitButton {
    float: right;
    height: 30px;
    width: 30px;
}

.charaProfEditButton {
    float: right;
    height: 30px;
    width: 30px;
}

.charaProfName {
    font-size: 30px;
}

.charaProfMainPic {
    height: 600px;
    width: 600px;
}

.charaProfOrigin {
    margin-left: auto;
    margin-right: auto;
}

.charaProfStats {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
}

th.charaProfStats, td.charaProfStats {
    padding: 5px 10px;
}