.dashboardWelcPhrase {
    position: absolute;
    z-index: 4;
    top: 200px;
}

.dashboardMainPic {
    width: 800px;
    height: 800px;
    z-index: 2;
}

.dashboardTopMenu {
    z-index: 3;
    top: 0px;
    position: absolute;
    width: 720px;
    text-align: left;
    padding: 20px 40px;
    overflow: hidden;
    color: white;
}

.dashboardBottomMenu {
    z-index: 3;
    top: 630px;
    position: absolute;
    width: 720px;
    text-align: center;
    padding: 20px 40px;
    color: white;
    font-size: 32px;
}

.dashboardBottomMenu a {
    text-decoration: none;
    color: #E8EBF7;
}

.currencyDisplay {
    display: inline-block;  
    margin-right: 40px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: #CD7687;
}
  
.mailContainer {
    float: right;
    position: relative;
}
  
.mailNotif {
    display: inline-block;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    height: 16px; 
    min-width: 14px;
    padding: 4px 3px 0 3px;
    font: bold 15px/13px Helvetica, Verdana, Tahoma;
    border: 2px solid white;
    border-radius: 12px;
    background-color: #E53847;
}
  
.mailIcon {
    display: inline-block;
    margin-right: 10px;
    padding: 20px 20px;
    border-radius: 50%;
    background-color: #235789;
}

.dashboardCollection {
    display: inline-block;  
    margin-right: 40px;
    padding: 30px 30px;
    border-radius: 10px;
    background-color: #E53847;
}

.dashboardOwnGachas {
    display: inline-block;  
    padding: 30px 30px;
    border-radius: 10px;
    background-color: #CC3E40;
}

.dashboardFavGachas {
    display: inline-block; 
    margin-left: 40px;
    padding: 30px 30px;
    border-radius: 10px;
    background-color: #E53847;
}

.newsBanner {
    margin: -5px 0px;
    width: 100%;
    height: 150px;
    background-color: #CD7687;
    font-size: 60px;
}

.newsBanner a {
    text-decoration: none;
    color: #E8EBF7;
}